<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}All posts{% endblock %}

    {% block content %}

      <h1>Welcome in our Blog</h1>
  
      <a href="{% url 'Post:create_post' %}">Add new Post</a>
      
      
      {% for post in all_posts %}
      
        <h3><a href="{% url 'Post:post' post.id %}">{{post.title}}</a></h3>
      
      {% endfor %}

    {% endblock %}


</body>
</html>

