
{% extends "base.html" %}


{% block body %}  


     {% if request.user.is_staff or request.user.is_superuser %}
     <div class ='add'>
         <a class="btn-lg" href="{% url 'Post:create_post' %}" role="button">Luo uusi julkaisu </a> 
      
        </div>
    <!-- <a class="btn btn-primary btn-lg" href="{% url 'Post:create_post' %}" role="button">Luo uusi julkaisu </a> -->  
  
  
    
  {% endif %} 


    <div class="post-container">

      
      <div class='row mt-4'>
        {% for post in all_posts %}
        <div class='col-md-4'>
          <div class="card">
            {% if post.img %}
            <img class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content|safe|striptags|slice:':40'}}</p>
              <a href="{% url 'Post:post' post.id %}" class="btn btn-primary">Lue lisää</a>
            </div> 
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
 

{% endblock %}

      












        