
{% extends "base.html" %}


{% block body %}  

<div class='massage_div'>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class='container'>
   <div class='row mt-4'></div>
</div>  
  



<div class="jumbotron banner">
    <a class="btn btn-primary btn-lg" href="{% url 'Post:create_post' %}" role="button">Luo uusi julkaisu </a>    
</div>

        {% for post in all_posts %}
        <div class='col-md-4'>
          <div class="card">
            {% if post.img %}
            <img class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content|safe|truncatewords:10}}</p>
              <a href="{% url 'Post:post' post.id %}" class="btn btn-primary">Lue lisää</a>
            </div> 
          </div>
        </div>
        {% endfor %}
        
        {% endblock body %}








        