
{% extends "base.html" %}

{% block body %}


{% if request.user.is_staff or request.user.is_superuser %}
  <div class='edit' >
    <a class="btn btn-primary btn-lg" href="{% url 'Post:edit_post' post.id %}" role="button">Muokkaa julkaisuasi </a>   
</div>
{% endif %} 
          <div class=" card single">
           
              <img class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
          
            <div class="card-body">

            	<!-- <div>
                    <a class="btn btn-primary btn-lg"  href="{% url 'Post:edit_post' post.id %}" role="button">Muokkaa </a>
                    <a class="btn btn-primary btn-lg"   href="" role="button">Poista </a>
                    </div> -->

              <h5 class="card-title">{{post}}</h5>

              
                <!-- <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.author.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ post.timestamp|timesince }} ago</div>
                    <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div> -->





              <p class="card-text">{{post.content|safe}}</p> 
            </div>




 












          </div>
          
{% endblock body %}


  








