{% load static %}
<!DOCTYPE html>
<html>


<head>
	<title>OTH-Omataloushallinta</title>
	<meta charset="utf-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">		
	<link rel="stylesheet" type="text/css" href="{% static ' font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <header>

		<div class= "title-box">
			<!-- page tiltle -->
			<h2 > OTH-Omataloushallinta</h2>	
			<!-- page slogan -->
			<p >Älä epäröi hoitaa talouttasi!</p>
	    </div>
    			 <!-- menu de navigation -->
			<!-- menu de navigation -->
		<nav>
			<div class="menu-nav">
				<ul>
				<li class="active"><a href="{% url 'profiles:index' %}"><i class="fa fa-home" ></i>Kotisivu</a> </li>
				<li class="#"><a href="{% url 'Post:all_posts' %}">Julkaisut</a></li>
				<li class="#"><a href="{% url 'accounts:view_accounts' %}">Tilit</a></li>
				<li class="#"><a href="{% url 'profiles:index' %}">Tietoa Oth:sta</a></li>
				<li class="#"><a href="{% url 'Contact:contact' %}"><i class="fa fa-phone" ></i>Ota yhteyttä</a></li>	
				<li class="#"><a href="{% url 'admin:index' %}"><i ></i>Admin</a></li>	
				
			</ul>
			</div>
		</nav>
		
    </header>	


    <title>
        {% block title %} {% endblock %}
    </title>

    <!-- {% include "menu.html" %} -->
    {% include "profiles_menu.html" %}  
    
    
 




	{% block body %}	{% endblock body %}
	
	

	




	

	<footer>
		{% block footer %}
				  <p>
	Copyright &copy; LynCao - 2021-2022 - All Right Reserved
  </p>
		{% endblock footer %}
	</footer>


	

    
                     <!-- Optional JavaScript -->
                        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	



</head>
<body>   
