<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hello, your are logged as {{ user.username }}</h1>
        <a href="{% url 'profiles:sign_out' %}">Logout</a>
    {% else %}
        <a href="{% url 'profiles:sign_up' %}">Register</a>
        <a href="{% url 'profiles:sign_in' %}">Login</a>
    {% endif %}
    
    <hr><hr>
    

    {% block content %}{% endblock %}

    <hr><hr>

    <p>Footer copyright lynda Angel</p>


</body>
</html>