
header{

	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	text-align: center;

	




}
 div.title-box {
	background-color: rgb(61, 187, 61);
	position: absolute;
	z-index: 999;
	line-height: 7px;
	border-radius: 6px;
 }	

	
	
	

div.title-box h2, p{
	font-family: 'Kenia', cursive;
	

}

/*Paragraph to the page*/

div.paragraph p{
	font-family: 'Kenia', cursive;
	font-size: 20px;
	display: flex;
	
	justify-content: left;
	align-items: left;
	width:1050px ;
	padding-left:580px;
	text-align: justify;
	top: -900px;
	position: relative;
	
	margin: 240px ;
	right: 800px;
}



/*---menu de navigation---*/

.menu-nav
{
	background: rgb(0,100,0);
	text-align: right;

}
.menu-nav ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-nav ul li{
	width: 120px;
	margin: 1px;
	padding: 10px;

	
}

.menu-nav ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu-nav ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
	transition: 0.5s all;
}






/* slider */

.slider {
	overflow: hidden;
}

div.slides {
	display: flex;
	flex-direction: row;
	animation: glisse 40s infinite ease;
 
}

.slide {
	opacity: 0.5;
}



@keyframes glisse{

	0% {
		transform: translateX(0); 
	}

	10% {
		transform:  translateX(0); 
	}

	33% {
		transform:  translateX(-500px);
	}

	66% {
		transform:  translateX(500px);
	}

	100% {
		transform:  translateX(0);
	}
}

.container{
	
	position:relative;
	width: 1200px;
	height: 1000px;
	margin: 240px auto;
	left: 950px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	margin-top: 50px;
}

.container .box {
	position:relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background:rgb(145, 255, 0);
	float:left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	text-decoration: none;
}

.container .box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2bab0d;
	transition: 0.5s;
	z-index: 1;
}

.container .box:hover .icon{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%
}

.container .box .icon .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
}

.container .box:hover .icon .fa{
	font-size: 40px;

}

.container .box .content{
	position: relative;
	top: 100%;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.container .box:hover .content{
	top: 100px;
	opacity: 1;

}


.container .box .content h3{
	margin: 0 0 10px;
	padding: 20px;
	color: #124706;
	font-size: 35px;
	

}



/* post - allposts styles */

.single_post{
    width: 100%;
}

.banner{
    width: 100%;
    
}

.Post_form{
	width: 100%;
	
    
}

.massage_div{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.messages{
    background-color: #2e2e2e;
    color: white;
    list-style-type: none;
}

.messages li{
    padding: 15px;
}







/* footer */

footer{
	position: relative;
	color: white;
	background-color: #124706;
	text-align: center;
	overflow: auto;
	z-index: 10;
	justify-content: space-around;
	
}

















@media print {
	footer {page-break-after: always;}
  }


@media only screen and (min-width: 320px) {
	.body {
		
		width: 100%;
		margin: 0 auto;
		position: relative;
		margin:0;  /* Remove body margins */
		overflow-x: hidden;

	}
}
@media only screen and (min-width: 320px)  {

	.paragraph p {
		font-size: 20px;
		margin-left: 15px;
		width: 850px;
		
		
	}	
}

@media only screen and (min-width: 320px) {

	.container .box  {
		
		margin-left: -20px;
		width: 300px;
	}
}  

@media only screen and (min-width: 320px) {

	.menu-nav {

		margin-right: -290px;
		
	}

}

@media only screen and (min-width: 320px) {

	.title-box {

		line-height: 7px;
		border-radius: 6px;
		
	}

}







@media only screen and (min-width: 1000px)  {

	.menu-nav {

		margin-right: 0;
		
	}
}

@media only screen and (min-width: 1000px)  {

	.container .box  {
		
		margin-left: 80px;
		
		
	}
}

@media only screen and (min-width: 1000px)  {

	.paragraph p {
		font-size: 20px;
		line-height: 30px;
		width: 2700px;
		margin-top: 80px;
		
	}	
}  


