{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accounts Denied{% endblock %}</title>
</head>
<body>
    
    {% block body %}

        <h2>You must log in before accessing this area</h2>

        <hr>
        <a href="{% url 'accounts:create_account' %}">Create new account</a><br>
        <a href="{% url 'accounts:movements_form' %}">New Payment</a>
        <a href="{% url 'accounts:movements_form' %}">New own-accounts movement</a>


    {% endblock %}


</body>
</html>

