{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Movements {% endblock %}
</head>

{% block body %}
<body>
    <h2>Account information</h2>
    <ul>
        <li style="font-weight: bold;">{{account.account_name}}</li>
        <li style="font-weight: bold;">{{account.account_value}}</li>
        <li style="font-weight: bold;">{{account.info}}</li>
        <li style="font-weight: bold;">{{account.save_percent}}</li>
        <li style="font-weight: bold;">{{account.saving_time}}</li>
    </ul><hr>
    <h2>Movements</h2>
    {% for i in movements %}
    <ul>
        <li style="font-weight: bold;">{{i.date.date}}  |  Event: {{i.event}}  |  Amount: {{i.amount}}  |  Saldo after movement: {{i.account_value_after}}</li>
    </ul>
    {% endfor %}

    <hr>

    <a href="{% url 'accounts:pay_form' %}">Insert new payment</a><br>
    <a href="{% url 'accounts:movements_form' %}">Move to own account</a><br>
    
</body>
{% endblock %}

</html>