{% extends "base.html" %}

{% block title %} Movements {% endblock %}

{% block body %}

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h1>Insert own-account movement details</h1><hr>
            <!-- <label for="date">Date</label>{{p_m_form.date}} <br>
            <label for="amount">amount</label>{{p_m_form.amount}} <br>
            <label for="Move to Account">Move to Account</label>{{p_m_form.move_to_account}} <br>
            <label for="Message">Message</label>{{p_m_form.message}} <br> -->
            {% for field in p_m_form %}
                <label>{{ field.label_tag }}</label>
                {{ field }}
                <hr>
            {% endfor %}
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>
{% endblock %}