{% extends "base.html" %}

{% block title %} Movements {% endblock %}

{% block body %}

<body>
    <div>
        <form action="/movements_form/" method="POST">
            {% csrf_token %}
            <h1>Insert new payment details</h1>
            <!-- <label for="date">Date</label>{{p_m_form.date}} <br>
            <label for="amount">amount</label>{{p_m_form.amount}} <br>
            <label for="Payer/Payee">Payee/Payer</label>{{p_m_form.payee_payer}} <br>
            <label for="Event">Event</label>{{p_m_form.event}} <br>
            <label for="Message">Message</label>{{p_m_form.message}} <br> -->
            {% for field in p_m_form %}
                <label>{{ field.label_tag }}</label>
                {{ field }}
                <hr>
            {% endfor %}
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>
{% endblock %}