{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Done {% endblock %}</title>
</head>

{% block body %}

<body>
    <h1>Transaction done succesfully</h1>

    <h3><a href="{% url 'accounts:account_detail' account_id %}">Come back to Account details</a></h3><br>
    <h3><a href="{% url 'accounts:pay_form' %}">Insert new payment</a></h3><br>
    <h3><a href="{% url 'accounts:movements_form' %}">Move to own account</a></h3><br>
    

</body>

{% endblock %}

</html>