{% extends "base.html" %}

{% block body %}


 <div style= 'padding-left:20px;font-family: Kenia, cursive;margin-bottom: 150px;margin-top:100px ' class='data-protection'>

    <h1 >Tietosuoja ja henkilötietojen käsittely OTH:ssa</h1><br><br>
    <p>OTH noudattaa kaikessa toiminnassaan huolellisuutta ja varmistaa, että tietosuoja ja tietoturvallisuus toteutuvat.</p><br>
    <p>Palvelun käyttö edellyttää rekisteröitymistä. Palveluun syöttämiäsi tulo- ja menotapahtumia tai muita tietojasi ei luovuteta eteenpäin.</p>
    <p>Palveluun kirjautumista ja käyttäjätilien ylläpitoa varten tietokantaan tallennetaan käyttäjän sähköpostiosoite.</p>
    <p>Voit milloin tahansa lopettaa palvelun käytön ja poistaa käyttäjätilisi kokonaan. Kun poistat käyttäjätilisi, 
        kaikki tapahtumatiedot ja käyttäjätiedot poistetaan palvelusta ja tietokannoista.</p><br>
    <p>Henkilötietolain (523/99) 10 §:n mukainen rekisteriseloste, Tämä laki on kumottu L:lla 5.12.2018/1050, joka on voimassa 1.1.2019 alkaen.:</p>
    <ol>
        <br><li>Rekisterinpitäjä</li>
        <p>Nimi: OTH</p>
        <p>Osoite: Valimotie 8, 00380 Helsinki</p>

        <br><br><li>Rekisteriasioiden yhteyshenkilö</li>
        <p>Nimi: Angel Acao</p>
        <p>Sähköposti: angel.acao@oth.fi</p>
        <p>Puhelin: 040 123 01 02</p>

        <br><br><li>Rekisterin nimi</li>
        <p>Oth- User tietokanta </p>

        <br><br><li>Henkilötietojen käsittelyn tarkoitus</li>
        <p>Rekisteriin tallennettuja henkilötietoja käytetään ainoastaan seuraaviin tarkoituksiin:</p>
        <ul>
            <li>palveluun kirjautuminen ja käyttäjätilin ylläpito</li>
            <li>tilastolliset yhteenvedot, joista ei voi tunnistaa yksittäistä käyttäjää</li>
        </ul>

        <br><br><li>Kuvaus rekisterin tietosisällöstä</li>
        <p>Rekisterissä voidaan käsitellä ainoastaan seuraavia tietoja</p>
        <ul>
            <li>rekisteröidyn nimi, sukunimi ja sähköposti</li>
        </ul>

        <br><br><li>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle</li>
        <p>Henkilötietoja ei luovuteta ulkopuolisille ilman rekisteröidyn suostumusta, ellei tietojen luovutukseen 
            ole lain mukaista velvollisuutta. Rekisterinpitäjä voi käyttää kolmannen osapuolen tarjoamia palveluita 
            palvelun ylläpidossa, missä tapauksessa palveluntarjoajat voivat käsitellä henkilötietoja rekisterinpitäjän lukuun.</p>
        <p>Rekisterinpitäjä ei luovuta henkilötietoja markkinointitarkoituksiin</p>
        <p>Henkilötietoja ei siirretä EU:n ulkopuolelle</p>

        <br><br><li>Säännönmukaiset tietolähteet</li>
        <p>Henkilötietoja kerätään rekisteröidyltä itseltään osana palvelun käyttöä</p>

        <br><br><li>Rekisterin suojaus</li>
        <p>Rekisterin tietoturvallisuus sekä henkilötietojen luottamuksellisuus varmistetaan 
            tarkoituksenmukaisin teknisin ja hallinnollisin toimenpitein. Henkilötiedot suojataan 
            asiattomalta pääsyltä sekä laittomasti tai vahingossa tapahtuvalta tietojenkäsittelyltä. 
            Henkilötietoja käsittelevät vain rekisterinpitäjän erityisesti määrittelemät henkilöt 
            sekä rekisterinpitäjän toimeksiannosta palveluja ylläpitävät tai kehittävät kolmannet 
            osapuolet, joiden tehtäviin henkilötietojen käsittely kuuluu. </p>

        <br><br><li>Tarkastusoikeus ja tiedon korjaaminen</li>
        <p>Rekisteröidyllä on henkilötietolain 26-28 §:n mukaisesti oikeus tarkistaa, mitä häntä 
            koskevia tietoja rekisteriin on tallennettu. Tarkastuspyynnön voi lähettää kirjallisesti 
            ja allekirjoitettuna rekisterinpitäjälle kohdan 1 mukaiseen osoitteeseen. Tarkastuspyyntö 
            voidaan esittää myös henkilökohtaisesti yllä mainitussa osoitteessa.</p>
        <p>Rekisteröidyllä on oikeus vaatia rekisterissä olevan virheellisen tiedon korjaamista tekemällä kirjallinen 
            ja riittävän yksilöity korjaamispyyntö kohdassa 1 mainittuun osoitteeseen.</p>

        <br><br><li>Evästeiden käyttö</li>
        <p>Palvelun tarjoamisessa käytetään istuntokohtaisia evästeitä (cookies) palvelujen toteuttamiseksi 
            ja helpottamaan palvelun käyttöä. Evästeet ovat tarpeellisia joidenkin palvelujen toimivuudelle, 
            joten rekisterinpitäjä ei takaa kaikkien palvelujen toimivuutta, jos evästetoiminnallisuus ei ole käytössä.</p> 
        <p>Evästeitä ei käytetä markkinointitarkoituksiin</p>

        <br><br><li>Tietojen poistaminen rekisteristä</li>
        <p>Mikäli palvelun käyttäjä haluaa lopettaa palvelun käytön, hän voi poistaa käyttäjätilinsä palvelusta. 
            Kun käyttäjätili on poistettu, kaikki henkilötiedot poistetaan palvelusta.</p>

    </ol>
</div>    

{% endblock %}